[submodule "module/Nexus-Instance"]
	path = module/Nexus-Instance
	url = https://github.com/TheNexusAvenger/Nexus-Instance.git
[submodule "module/Nexus-Wrapped-Instance"]
	path = module/Nexus-Wrapped-Instance
	url = https://github.com/TheNexusAvenger/Nexus-Wrapped-Instance.git
[submodule "module/Fusion"]
	path = module/Fusion
	url = https://github.com/dphfox/Fusion.git
[submodule "module/Nexus-Virtual-List"]
	path = module/Nexus-Virtual-List
	url = https://github.com/TheNexusAvenger/Nexus-Virtual-List.git
